<html>
	<head>
		<title>
		</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css">
		<link href='http://fonts.googleapis.com/css?family=Sacramento' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Merienda:700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Merienda' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<div class='hd' style='position:absolute;left:250;top:70;display:block;'>
			<img class='circular' src='/static/images/profile_pic.jpg' >
			<h1 class='name' style='display:inline;'>i'm pras</h1>
			<div class='tagline' style='display:inline;'>24 * 7 thinker</div>
			<div class='description' style='position:absolute;left:257px;'>
				A Cs guy from Southern part of India, who loves coding (mostly in Python / Django); listening to music (A.r.rahman); to play football (soccer); and holds a degree in Bachelor of Engineering (B.E)
			</div>
		</div>
	</body>
</html>